@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANYEKAN";
  src: url("/fonts/IRANYEKANWEB.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYEKAN";
  src: url("/fonts/IRANYEKANWEB-BOLD.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYEKAN";
  src: url("/fonts/IRANYEKANWEB-EXTRABOLD.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
